<div class="main vertical-center">

  <!-- แสดงคำถาม -->
  <ng-template [ngIf]="!isEnd" [ngIfElse]="showScore">
    <div class="container" style="max-width: 800px;">
      <h2>Question {{currentQuestionIndex + 1}} of {{questions.length}}</h2>
      <h3 class="mb-3 mt-3">{{questions[currentQuestionIndex].text}}</h3>

      <div class="row">
        <div class="col text-center">
          <img *ngIf="questions[currentQuestionIndex].image" [src]="questions[currentQuestionIndex].image">
        </div>
      </div>

      <div class="row g-2 mt-2">
        <div *ngFor="let choice of questions[currentQuestionIndex].choices" class="col-xs-12 col-md-6">
          <button (click)="onClickChoice(choice)" class="btn btn-primary" style="width: 100%;">
            {{choice.text}}
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- แสดงคะแนน -->
  <ng-template #showScore>
    <div class="container" style="max-width: 800px;">

      <div class="row">
        <div class="col-12 text-center h2">
          Your score: {{score}}
        </div>
        <div class="col-12 text-center h2">
          <button (click)="onClickNewQuiz()" class="btn btn-success">New Quiz</button>
        </div>
      </div>

    </div>
  </ng-template>
</div>